# Ignore Drupal core files.
/.editorconfig
/.htaccess
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL.mysql.txt
/INSTALL.pgsql.txt
/INSTALL.sqlite.txt
/INSTALL.txt
/LICENSE.txt
/MAINTAINERS.txt
/README.txt
/UPGRADE.txt
/authorize.php
/cron.php
/includes
/index.php
/install.php
/misc
/modules
/profiles
/robots.txt
/scripts
/themes
/update.php
/web.config
/xmlrpc.php

# Ignore configuration files that may contain sensitive information.
/.idea
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/.sass-cache
sites/*/files/css
sites/*/files/ctools
sites/*/files/js
sites/*/files/mailsystem
sites/*/files/paperwork
sites/*/files/print_pdf
sites/*/files/private
sites/*/files/reports
sites/*/files/stateform
sites/*/files/thirdparty_request
sites/*/files/tmp
sites/*/files/xmlsitemap
sites/*/logs
sites/*/mysqldump

# Ignore developer-only directories.
sites/all/libraries/php-console
sites/all/modules/contrib/devel
sites/all/modules/contrib/devel_themer
sites/all/modules/contrib/pc
sites/all/modules/contrib/simplehtmldom
