# Ignore Drupal core files.
/.editorconfig
/.htaccess
/CHANGELOG.txt
/COPYRIGHT.txt
/INSTALL.mysql.txt
/INSTALL.pgsql.txt
/INSTALL.sqlite.txt
/INSTALL.txt
/LICENSE.txt
/MAINTAINERS.txt
/README.txt
/UPGRADE.txt
/authorize.php
/cron.php
/includes
/index.php
/install.php
/misc
/modules
/profiles
/robots.txt
/scripts
/themes
/update.php
/web.config
/xmlrpc.php

# Ignore configuration files that may contain sensitive information.
/sites/*/settings*.php

# Ignore paths that contain user-generated content.
/sites/*/.sass-cache
/sites/*/files/advagg_css
/sites/*/files/advagg_js
/sites/*/files/css
/sites/*/files/ctools
/sites/*/files/js
/sites/*/files/mailsystem
/sites/*/files/print_pdf
/sites/*/files/private
/sites/*/files/styles
/sites/*/files/tmp
/sites/*/logs
/sites/*/mysqldump
