/**
 * @file
 * Macro arrangement of a web page, including any grid systems.
 */

/**
 * Overflow classes.
 */
.ndsbs-overflow-auto {
  overflow: auto !important;
}
.ndsbs-overflow-initial {
  overflow: initial !important;
}

/**
 * Forms.
 */
.ndsbs-inline-form>[class*=form-item],
.ndsbs-inline-form>[class*=form-actions] {
  display: inline-block;
  margin: 0 20px 0 0 !important;
}

/**
 * Staff profiles.
 */
.view-staff-profiles .uk-cover-container img {
  height: 100%;
  width: auto;
  max-width: none;
}

/**
 * Steps header
 */
#steps-header-progress:before {
  position: relative;
  top: 22px;
  content: "";
  display: block;
  background: #e5e5e5;
  margin-left: 15px;
  height: 8px;
  width: 100%;
  z-index: -1;
}
#steps-header-steps .steps-header-content h3 {
  border-bottom: 1px solid #ddd;
  margin: -10px -10px 0 -10px;
  padding: 10px;
}
#steps-header-steps .steps-header-content .steps-header-footer {
  margin-top: 10px;
}

/**
 * Media queries.
 */
@media (min-width: 640px) {}
@media (min-width: 960px) {}
@media (min-width: 1200px) {}
@media (min-width: 1600px) {}