/**
 * @file
 * Purely visual styling (“look-and-feel”) for a component.
 */

/**
 * Page header.
 */
#page-header {
  background: transparent url(images/city-sunny-people-street.jpg) no-repeat center 25%;
  -webkit-background-size: cover;
  background-size: cover;
  min-height: 420px;
}
#header-below {
  margin: 0 auto;
  padding: 80px 0;
  max-width: 1320px;
}
#header-below .block {
  color: #e5e5e5;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 );
  padding: 20px;
  width: 660px;
}
#header-below .block:not(:first-child) {
  margin-top: 40px;
}
#header-below .block h1,
#header-below .block h2,
#header-below .block h3,
#header-below .block h4,
#header-below .block h5,
#header-below .block h6,
#header-below .block a {
  color: #e5e5e5;
}
#header-below .block h2.block-title {
  font-size: 2.8rem;
}
#header-below .uk-tab>*>a {
  color: #e5e5e5;
  font-size: 1rem;
  /*font-weight: bold;*/
}
#header-below .block a:focus,
#header-below .block a:hover,
#header-below .uk-tab>*>a:focus,
#header-below .uk-tab>*>a:hover,
#header-below .uk-tab>.uk-active>a {
  color: #fff;
}
#header-below .uk-tab-right::before {
  border-left-width: 2px;
}
#header-below .uk-tab-left::after {
  border-right-width: 2px;
}
#header-below .uk-tab-right>*>a,
#header-below .uk-tab-left>*>a {
  transition: border-color 0.3s;
}
#header-below .uk-tab-right>*>a {
  border-left-width: 2px;
}
#header-below .uk-tab-left>*>a {
  border-right-width: 2px;
}

.uk-logo .logo--small {
  height: 60px;
}

.uk-container {
  max-width: 1220px;
}
#page-navbar {
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.5) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#80000000',GradientType=0 );
  max-width: 1240px;
}

/**
 * Navbar.
 */
.uk-logo {
  height: auto;
  padding: 10px;
}
.uk-navbar-right {
  margin-left: 0;
}
.uk-navbar-nav>li>a,
.uk-navbar-nav>li.uk-active>a,
.uk-navbar-dropdown-nav>li>a {
  color: #e5e5e5;
  text-transform: uppercase;
}
.uk-navbar-nav>li:hover>a,
.uk-navbar-nav>li>a.uk-open,
.uk-navbar-nav>li>a:focus,
.uk-navbar-dropdown-nav>li>a:focus,
.uk-navbar-dropdown-nav>li>a:hover {
  color: #fff;
}
.uk-navbar-dropdown {
  width: auto;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#cc000000',GradientType=0 );
  color: #e5e5e5;
  box-shadow: none;
  top: 91px !important;
  left: 0 !important;
  right: 0 !important;
}
.uk-navbar-dropdown-nav>.uk-grid-margin {
  margin-top: 10px;
}
@media (min-width: 1200px) {
  .uk-navbar-dropdown-nav>.uk-grid-margin {
    margin-top: 15px;
  }
}
#interactive-map {
  margin: 0 auto;
  height: 800px;
  width: 800px;
  max-width: 100%;
}
