table.draggable thead th.views-field-views-bulk-operations > .form-type-checkbox {
  margin-left: 25px;
}
table.draggable tbody td.views-field-views-bulk-operations > .form-type-checkbox {
  display: inline;
  margin-right: 10px;
}