/*--------------------------------------------------------------

	* Filename: Buttons.css
	* Description: All Layout CSS
	* Version: 1.0 (11-Oct-2012) DD-MM-YYYY
	* Website: http://
	* Author: Finoit Technologies

==== STRUCTURE:==============================================

	* Page Width: 1024px
	* Number of columns: 1

--------------------------------------------------------------*/

.brown_btn, .form-submit, .lbrown_btn{background:url('../images/bkg_sprites.png') repeat-x;}


.brown_btn, .form-submit, .action-links li a, .lgrey_btn:hover{
	overflow:visible;
	padding:6px 14px;
	border:1px solid #86522a;
	text-shadow:0 0 2px #c2935b;
	box-shadow:inset 0px 0px 3px #c2935b;
	-moz-box-shadow:inset 0px 0px 3px #c2935b;
	-webkit-box-shadow:inset 0px 0px 3px #c2935b;	
	background: rgb(156,105,65); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(156,105,65,1) 0%, rgba(144,93,53,1) 50%, rgba(132,81,41,1) 51%, rgba(152,101,60,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156,105,65,1)), color-stop(50%,rgba(144,93,53,1)), color-stop(51%,rgba(132,81,41,1)), color-stop(100%,rgba(152,101,60,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(156,105,65,1) 0%,rgba(144,93,53,1) 50%,rgba(132,81,41,1) 51%,rgba(152,101,60,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(156,105,65,1) 0%,rgba(144,93,53,1) 50%,rgba(132,81,41,1) 51%,rgba(152,101,60,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(156,105,65,1) 0%,rgba(144,93,53,1) 50%,rgba(132,81,41,1) 51%,rgba(152,101,60,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(156,105,65,1) 0%,rgba(144,93,53,1) 50%,rgba(132,81,41,1) 51%,rgba(152,101,60,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c6941', endColorstr='#98653c',GradientType=0 ); /* IE6-9 */
	}
	
.brown_btn:hover, .form-submit:hover, .action-links li a:hover, .lgrey_btn{
	border:1px solid #504a42;
	background-position:0 -413px;
	box-shadow:inset 0px 0px 3px #8a8680;
	-moz-box-shadow:inset 0px 0px 3px #8a8680;
	-webkit-box-shadow:inset 0px 0px 3px #8a8680;
    background: rgb(104,99,92); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(104,99,92,1) 0%, rgba(112,107,100,1) 50%, rgba(103,98,91,1) 51%, rgba(103,98,91,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,99,92,1)), color-stop(50%,rgba(112,107,100,1)), color-stop(51%,rgba(103,98,91,1)), color-stop(100%,rgba(103,98,91,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(104,99,92,1) 0%,rgba(112,107,100,1) 50%,rgba(103,98,91,1) 51%,rgba(103,98,91,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(104,99,92,1) 0%,rgba(112,107,100,1) 50%,rgba(103,98,91,1) 51%,rgba(103,98,91,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(104,99,92,1) 0%,rgba(112,107,100,1) 50%,rgba(103,98,91,1) 51%,rgba(103,98,91,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(104,99,92,1) 0%,rgba(112,107,100,1) 50%,rgba(103,98,91,1) 51%,rgba(103,98,91,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68635c', endColorstr='#67625b',GradientType=0 ); /* IE6-9 */

	}
        
.lgrey_btn{
    padding:6px 14px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px; 
    font-size: 13px; 
    float:right;
    margin-top: -9px;
}
	
.brown_inbtn{ display:inline-block;}

.lbrown_btn{
	font-size:12px;
	padding:5px 10px;	
	border:1px solid #8b857d;
	box-shadow:0px 2px 1px #515151;
	-moz-box-shadow:0px 2px 1px #515151;
	-webkit-box-shadow:0px 2px 1px #515151;
	background-position:0 -496px;	
	}
 
.item-list .pager{ text-align: left;}
.item-list .pager li{ padding: 0;}
.item-list .pager li a{
	overflow:visible;	
    color: #fff;   
    font-weight: bold;
    padding:8px 18px;
    border-radius: 4px;
	text-shadow: 0 1px 0 #54351D;
	box-shadow:inset 0px 0px 3px #c2935b;
	-moz-box-shadow:inset 0px 0px 3px #c2935b;
	-webkit-box-shadow:inset 0px 0px 3px #c2935b;	
	background: rgb(156,105,65); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(156,105,65,1) 0%, rgba(144,93,53,1) 50%, rgba(132,81,41,1) 51%, rgba(152,101,60,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(156,105,65,1)), color-stop(50%,rgba(144,93,53,1)), color-stop(51%,rgba(132,81,41,1)), color-stop(100%,rgba(152,101,60,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(156,105,65,1) 0%,rgba(144,93,53,1) 50%,rgba(132,81,41,1) 51%,rgba(152,101,60,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(156,105,65,1) 0%,rgba(144,93,53,1) 50%,rgba(132,81,41,1) 51%,rgba(152,101,60,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(156,105,65,1) 0%,rgba(144,93,53,1) 50%,rgba(132,81,41,1) 51%,rgba(152,101,60,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(156,105,65,1) 0%,rgba(144,93,53,1) 50%,rgba(132,81,41,1) 51%,rgba(152,101,60,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c6941', endColorstr='#98653c',GradientType=0 ); /* IE6-9 */
	} 
	
.item-list .pager li a:hover, .item-list .pager li.pager-current, .item-list .pager li:hover.pager-current{
    color: #fff;   
    padding:8px 18px;
    border-radius: 4px;
	box-shadow:inset 0px 0px 3px #8a8680;
	-moz-box-shadow:inset 0px 0px 3px #8a8680;
	-webkit-box-shadow:inset 0px 0px 3px #8a8680;
    background: rgb(104,99,92); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(104,99,92,1) 0%, rgba(112,107,100,1) 50%, rgba(103,98,91,1) 51%, rgba(103,98,91,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(104,99,92,1)), color-stop(50%,rgba(112,107,100,1)), color-stop(51%,rgba(103,98,91,1)), color-stop(100%,rgba(103,98,91,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(104,99,92,1) 0%,rgba(112,107,100,1) 50%,rgba(103,98,91,1) 51%,rgba(103,98,91,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(104,99,92,1) 0%,rgba(112,107,100,1) 50%,rgba(103,98,91,1) 51%,rgba(103,98,91,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(104,99,92,1) 0%,rgba(112,107,100,1) 50%,rgba(103,98,91,1) 51%,rgba(103,98,91,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(104,99,92,1) 0%,rgba(112,107,100,1) 50%,rgba(103,98,91,1) 51%,rgba(103,98,91,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#68635c', endColorstr='#67625b',GradientType=0 ); /* IE6-9 */

	}
       .form-submit_adj .form-submit{padding:8px 14px; margin-top:-2px;}