/*--------------------------------------------------------------

	* Filename: Icons.css
	* Description: All Layout CSS
	* Version: 1.0 (11-Oct-2012) DD-MM-YYYY
	* Website: http://
	* Author: Finoit Technologies

==== STRUCTURE:==============================================

	* Page Width: 1024px
	* Number of columns: 1

--------------------------------------------------------------*/

.ndmassage_jewel, .ndrequests_jewel, .call_icon, .search_icon, .bullet_list li, .error_msg_box p, .succss_msg_box p, .bullet_list2 li a, .bullet_list3 li, .mail_icon, .phone_icon, .print_icon, .location_icon, .facebook_icon, .twitter_icon, .login_icon, .register_icon, .timer_icon, .col2_head h2, .edit_icon, .download_icon, .email_icon, .remove_icon, .delete_icon
,.completed_icon, .details_icon, .confirm_icon, .notconfirm_icon, .makerequest_icon, .verified_icon, .notverified_icon, .inprocess_icon, .pending_icon, .close_icon, .closer_icon, 
.createinvoice_icon, .step_box a.step_top h2, .status_list li a{ background: url('../images/sprites.png') no-repeat;}
.clients_micon, .services_micon, .reports_micon, .request_micon, .transaction_micon, .staff_micon, .state_micon, .manage_micon, .myaccount_micon, .myappointment_micon, .myassessment_micon{ background: url('../images/sprites.png') !important}
	
.search_icon{ 
	height:22px;
	padding:0 0 0 19px;
	background-position:left -77px;
	}

.mail_icon{ background-position: 0 -373px; }
.phone_icon{ background-position: 0 -410px; }
.print_icon{ background-position: 0 -447px; }
.location_icon{ background-position: 0 -448px; }
.facebook_icon{ background-position: 0 -526px; }
.twitter_icon{ background-position: 0 -564px; }
.google_plus_icon {
  background: url('../images/plus.png') no-repeat;
}
.google_plus_icon:hover {
  background: url('../images/plus-hover.png') no-repeat;
}

.mail_icon:hover{ background-position: 0 -604px; }
.facebook_icon:hover{ background-position: 0 -647px; }
.twitter_icon:hover{ background-position: 0 -685px; }

.login_icon{
	padding: 0 0 0 23px;
	background-position: 0 -748px;
	}
	
.register_icon{
	padding: 0 0 0 18px;
	background-position: 0 -772px;
	}
	
span:hover.login_icon{background-position: 0 -795px;}	
span:hover.register_icon{background-position: 0 -820px;}
	
.call_icon{
	padding: 0 0 0 38px;
	background-position:6px -848px;
	}	

.timer_icon{
	float:left;
	padding:7px 0 7px 38px;
	background-position:0 -901px;
	}
	
.col2_head h2.requests_icon{background-position:0 -962px;}	
.col2_head h2.clients_icon{background-position:0 -1010px;}
.col2_head h2.reports_icon{background-position:0 -1059px;}
.col2_head h2.transactions_icon{background-position:0 -1108px;}

.download_icon, .edit_icon, .email_icon, .remove_icon, .delete_icon, .completed_icon, .details_icon, .confirm_icon, .notconfirm_icon, 
.makerequest_icon, .verified_icon, .notverified_icon, .inprocess_icon, .pending_icon, .close_icon, .closer_icon, .createinvoice_icon, 
.createinvoice_icon{display: block;  padding: 0 0 0 19px;}

.edit_icon {margin-bottom: 5px; background-position: left -1150px;}
.edit_icon:hover {background-position: left -1190px;}
.delete_icon {background-position: left -1232px;}
.delete_icon:hover {background-position: left -1271px;}
.download_icon {margin-bottom: 5px; background-position: left -1943px;}
.download_icon:hover {background-position: left -1983px ;}
.email_icon {background-position: left -1864px;}
.email_icon:hover {background-position: left -1903px;}
.remove_icon {background-position: left -1467px;}
.remove_icon:hover {background-position: left -1508px;}
.completed_icon {background-position: left -1309px;}
.details_icon {background-position: left -1550px;}
.details_icon:hover {background-position: left -1590px;}
.confirm_icon {background-position: left -1626px;}
.notconfirm_icon {background-position: left -1467px;}
.makerequest_icon {background-position: left -1787px;}
.makerequest_icon:hover {background-position: left -1826px;}
.verified_icon {background-position: left -1627px;}
.notverified_icon {background-position: left -1706px;}
.inprocess_icon {background-position: left -2062px;}
.pending_icon {background-position: left -2024px;}
.close_icon {background-position: left -1705px;}
.closer_icon {background-position: left -2105px;}
.closer_icon:hover {background-position: left -2147px;}
.createinvoice_icon {background-position: left -1547px;}
.createinvoice_icon:hover {background-position: left -1587px;}
.tr_actions li.edit_icon, .tr_actions li.edit_icon:hover {margin-bottom: 5px; background-position: left -1150px; opacity: 0.4;}
.tr_actions li.delete_icon, .tr_actions li.delete_icon:hover {background-position: left -1232px; opacity: 0.4;}

.clients_micon, .services_micon, .reports_micon, .request_micon, .transaction_micon, .staff_micon, .state_micon, .manage_micon, .myaccount_micon, .myappointment_micon, .myassessment_micon{padding:7px 0 7px 26px; margin:0 0 0 10px;}
.clients_micon{ background-position:0 -2186px !important;}
.services_micon{ background-position:0 -2221px !important;}
.reports_micon{ background-position:0 -2257px !important;}
.request_micon{ background-position:0 -2293px !important;}
.transaction_micon{ background-position:0 -2330px !important;}
.staff_micon{ background-position:0 -2405px !important;}
.state_micon{ background-position:0 -2368px !important;}
.manage_micon{ background-position:0 -2441px !important;}
.myaccount_micon{ background-position:0 -2477px !important;}
.myappointment_micon{ background-position:0 -2517px !important;}
.myassessment_micon{ background-position:0 -2553px !important;}


/*

*/


.step_box a.step_top h2.complete_icon{background-position:0px -2703px;}
.step_box a.step_top h2.schedule_icon{background-position:0px -2762px;}
.step_box a.step_top h2.doc_icon{background-position:0px -2824px; padding-left:38px;}
.step_box a.step_top h2.assr_icon{background-position:0px -2886px; padding-left:35px;}

.step_box a:hover.step_top h2.complete_icon, .step_box a.selected h2.complete_icon{background-position:0px -2943px;}
.step_box a:hover.step_top h2.schedule_icon, .step_box a.selected h2.schedule_icon{background-position:0px -3002px;}
.step_box a:hover.step_top h2.doc_icon, .step_box a.selected h2.doc_icon{background-position:0px -3063px;}
.step_box a:hover.step_top h2.assr_icon, .step_box a.selected h2.assr_icon{background-position:0px -3126px;}

.status_list li a.view-icon{background-position:0px -3183px}
.status_list li a.download-icon{background-position:0px -3224px}
.status_list li a.print-icon{background-position:0px -3264px}
.status_list li a.mail-icon{background-position:0px -3304px}

.status_list li a:hover.view-icon{background-position:0px -3348px}
.status_list li a:hover.download-icon{background-position:0px -3389px}
.status_list li a:hover.print-icon{background-position:0px -3429px}
.status_list li a:hover.mail-icon{background-position:0px -3469px}