@media (min-width: 0px) {
  html {
    font-size: 100%; }

  body.device-pointing-method-touchscreen {
    font-size: 14px;
    line-height: 1.42857143; }
    body.device-pointing-method-touchscreen.admin-menu, body.device-pointing-method-touchscreen.adminimal-menu {
      margin-top: 0 !important; }
    body.device-pointing-method-touchscreen #admin-menu {
      display: none; }
    body.device-pointing-method-touchscreen header.navbar-static,
    body.device-pointing-method-touchscreen header.navbar-static * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    body.device-pointing-method-touchscreen header.navbar-static button, body.device-pointing-method-touchscreen header.navbar-static input, body.device-pointing-method-touchscreen header.navbar-static optgroup, body.device-pointing-method-touchscreen header.navbar-static select, body.device-pointing-method-touchscreen header.navbar-static textarea {
      margin: 0;
      font: inherit;
      color: inherit; }
    body.device-pointing-method-touchscreen header.navbar-static button {
      overflow: visible; }
    body.device-pointing-method-touchscreen header.navbar-static button, body.device-pointing-method-touchscreen header.navbar-static select {
      text-transform: none; }
    body.device-pointing-method-touchscreen header.navbar-static button, body.device-pointing-method-touchscreen header.navbar-static input[type=button], body.device-pointing-method-touchscreen header.navbar-static input[type=reset], body.device-pointing-method-touchscreen header.navbar-static input[type=submit] {
      -webkit-appearance: button;
      cursor: pointer; }
    body.device-pointing-method-touchscreen header.navbar-static button, body.device-pointing-method-touchscreen header.navbar-static input, body.device-pointing-method-touchscreen header.navbar-static select, body.device-pointing-method-touchscreen header.navbar-static textarea {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit; }
    body.device-pointing-method-touchscreen header.navbar-static .navbar-header {
      min-height: 80px; }
      body.device-pointing-method-touchscreen header.navbar-static .navbar-header .navbar-toggle {
        position: relative;
        float: right;
        padding: 9px 10px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px; }
        body.device-pointing-method-touchscreen header.navbar-static .navbar-header .navbar-toggle .icon-bar {
          display: block;
          width: 22px;
          height: 2px;
          border-radius: 1px;
          background-color: #966a48; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-header .navbar-toggle .icon-bar + .icon-bar {
            margin-top: 4px; }
        body.device-pointing-method-touchscreen header.navbar-static .navbar-header .navbar-toggle:focus {
          outline: 0;
          background-color: #e3e3e3;
          border-color: #d3d3d3; }
      body.device-pointing-method-touchscreen header.navbar-static .navbar-header .navbar-brand {
        float: left;
        height: 80px;
        padding: 15px 15px;
        font-size: 18px;
        line-height: 20px; }
        body.device-pointing-method-touchscreen header.navbar-static .navbar-header .navbar-brand .navbar-logo {
          height: 100%;
          width: auto; }
    body.device-pointing-method-touchscreen header.navbar-static .navbar-brand-contact {
      float: left;
      padding: 6px;
      text-align: center;
      width: 100%; }
    body.device-pointing-method-touchscreen header.navbar-static .collapse {
      display: none; }
    body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse {
      padding-right: 15px;
      padding-left: 15px;
      overflow-x: visible;
      -webkit-overflow-scrolling: touch;
      border-top: 1px solid transparent;
      -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
      body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu {
        margin: 0 -15px;
        padding-left: 0;
        list-style: none; }
        body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li {
          position: relative;
          display: block; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded {
            background: #966a48;
            text-align: left; }
            body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded > a {
              color: #f3f3f3; }
            body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded > a:focus,
            body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded > a:hover,
            body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded > a:active,
            body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded > a.active {
              outline: 0;
              background-color: #966a48; }
            body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded ul > li {
              text-align: center;
              background: #f3f3f3; }
              body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded ul > li a {
                color: #966a48; }
              body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded ul > li > a:focus,
              body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded ul > li > a:hover,
              body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded ul > li > a:active,
              body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded ul > li > a.active {
                outline: 0;
                background-color: #e3e3e3; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded:first-child {
            border-bottom: 2px solid #f3f3f3; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded.expanded:first-child {
            border-bottom: none; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded:after {
            content: "";
            position: absolute;
            top: 22px;
            right: 20px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-top-color: #f3f3f3; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li.is-expanded.expanded:after {
            content: "";
            position: absolute;
            top: 16px;
            right: 20px;
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-bottom-color: #f3f3f3; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li > a {
            position: relative;
            display: block;
            padding: 15px;
            line-height: 20px; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li > a:focus,
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li > a:hover,
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li > a:active,
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu > li > a.active {
            outline: 0;
            background: #e3e3e3; }
        body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu .menu {
          margin: 0;
          padding-left: 0;
          list-style: none; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu .menu > li {
            position: relative;
            display: block; }
            body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu .menu > li > a {
              position: relative;
              display: block;
              padding: 15px;
              line-height: 20px; }
          body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse > .menu .menu.collapsed {
            display: none; }
    body.device-pointing-method-touchscreen header.navbar-static .navbar-collapse.in {
      overflow-y: auto; }
    body.device-pointing-method-touchscreen header.navbar-static .collapse.in {
      display: block; }
    body.device-pointing-method-touchscreen header.navbar-static .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }
    body.device-pointing-method-touchscreen .main_slider {
      width: 100%; }
      body.device-pointing-method-touchscreen .main_slider .slide_content {
        padding-top: 1.3em;
        width: 100%; }
        body.device-pointing-method-touchscreen .main_slider .slide_content h1 {
          font-size: 1.3em;
          line-height: 1.3em;
          margin: 0;
          padding: 5px; }
        body.device-pointing-method-touchscreen .main_slider .slide_content .opacity_bkg {
          padding: 0;
          width: 100%; }
          body.device-pointing-method-touchscreen .main_slider .slide_content .opacity_bkg h2,
          body.device-pointing-method-touchscreen .main_slider .slide_content .opacity_bkg a {
            padding: 5px; }
          body.device-pointing-method-touchscreen .main_slider .slide_content .opacity_bkg h2 {
            font-size: 1.1em;
            margin: 0; }
      body.device-pointing-method-touchscreen .main_slider .thumbs {
        height: 16px;
        padding: 6px 8px;
        left: 60%;
        width: auto; } }
  @media (min-width: 0px) and (max-width: 600px) {
    body.device-pointing-method-touchscreen .main_slider {
      max-height: 320px; } }

@media (min-width: 0px) {
  .fix_layout .contents {
    min-width: 0; }
  .fix_layout .contents_inner {
    width: 100%; }
    .fix_layout .contents_inner .left_columns,
    .fix_layout .contents_inner .right_columns {
      width: 100%; } }

/*# sourceMappingURL=main-responsive.css.map */
