/*--------------------------------------------------------------

	* Filename: Reset.css
	* Description: All Layout CSS
	* Version: 1.0 (11-Oct-2012) DD-MM-YYYY
	* Website: http://
	* Author: Finoit Technologies

==== STRUCTURE:==============================================

	* Page Width: 1024px
	* Number of columns: 1

--------------------------------------------------------------*/

/************ START css reset *************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display:block;}

body {	
	color: #444;
	font-size:13px;
	line-height:19px;
	background:#f3f3f3;	
	font-family: Arial, Helvetica, sans-serif;
}

ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:''; content:none;}
table{border-collapse:collapse; border-spacing:0;}

/************ END css reset *************/
/************ START General and most reuseable classes *************/
a{text-decoration:none; color:#966A48;}
a:hover{text-decoration:none; color:#7e786f;}
hr{margin-bottom:15px; border:1px solid #d9d9d9;}

h1{
	color:#935a2d;
    font-size:20px;
	line-height:normal;
	font-weight:normal;
	margin-bottom:10px;
	}

h2{
	color:#935a2d;
    font-size:16px;
    font-weight:normal;
    line-height:normal;
	margin-bottom:5px;
    margin-top: 1px;
	}

h3{
    color:#6097CF;
    font-size:13px;
    font-weight:normal;
    line-height:normal;

	}

h4{
    color:#4a4949;
    line-height:normal;
}


p{margin-bottom:10px;}
small{}
sup{}
.error{ color:#e92121;}
/* float starts */
.left{float:left}
.right{float:right}
.float_n{float:none}
/* float ends */

/* overflow starts */
.of_a{overflow:auto}
.of_h{overflow:hidden}
.of_v{overflow:visible}
/* overflow ends */

/* clear starts */
/* For modern browsers */
.clear{clear:both;}
.clear:before, .clear:after{content:""; display:table;}
.clear:after{clear:both;}
/* For IE 6/7 (trigger hasLayout) */
.clear{*zoom:1;}
/* End IE 6/7 (trigger hasLayout) */
.clear_l{clear:left}
.clear_r{clear:right}
.clear_n{clear:none}
/* clear ends */

/* position starts */
.pos_ab{position:absolute}
.pos_rel{position:relative;}
.pos_fix{position:fixed}
/* position ends */

/* display starts */
.block{display:block !important;}
.inline{display:inline}
.none{display:none}
.dis_ib{display:inline-block !important;}
/* display ends */

/* font-size starts */
.bold{font-weight:bold}
.italic{font-style:italic}
.upper_c{text-transform:uppercase}
.lower_c{text-transform:lowercase}
.tc_normal{text-transform:none}
.capitalize{text-transform:capitalize}

.fw_n{font-weight:normal;}

.fs_11{font-size:11px;}
.fs_12{font-size:12px;}
.fs_13{font-size:13px;}
.fs_14{font-size:14px;}
.fs_15{font-size:15px;}
.fs_16{font-size:16px;}
.fs_18{font-size:18px;}
.fs_20{font-size:20px;}
.fs_22{font-size:22px;}
.fs_24{font-size:24px;}
.fs_28{font-size:28px;}
/* font-size ends */

/* text-align starts */
.txt_al{text-align:left}
.txt_ar{text-align:right}
.txt_ac{text-align:center}
/* text-align ends */

/* text-decoration starts */
.txt_dn{text-decoration:none}
.txt_du{text-decoration:underline}
/* text-decoration ends */

/* border-none starts */
.border_n{border:none !important;}
.border_tn{border-top:none}
.border_bn{border-bottom:none}
.border_tbn{border-top:none;border-bottom:none}
.border_rn{border-right:none}
.border_ln{border-left:none}
.border_rl{border-right:none;border-left:none}
/* border-none ends */

/* margin starts */
.zero_auto{margin:0 auto}

.mt_0{margin-top:0px !important;}
.mt_5{margin-top:5px !important;}
.mt_8{margin-top:8px !important;}
.mt_10{margin-top:10px !important;}
.mt_15{margin-top:15px !important;}
.mt_20{margin-top:20px !important;}
.mt_m35{ margin-top: -35px !important;}

.mr_5{margin-right:5px}
.mr_10{margin-right:10px}
.mr_15{margin-right:15px}
.mr_20{margin-right:20px}

.mb_0{margin-bottom:0px}
.mb_2{margin-bottom:2px}
.mb_5{margin-bottom:5px}
.mb_10{margin-bottom:10px}
.mb_15{margin-bottom:15px}
.mb_20{margin-bottom:20px}

.ml_5{margin-left:5px}
.ml_10{margin-left:10px}
.ml_15{margin-left:15px}
.ml_20{margin-left:20px}


.mlr_12{margin-left:12px; margin-right:12px;}

/* margin ends */

/* padding starts */
.p_10{ padding:10px;}
.pt_5{padding-top:5px}
.pt_10{padding-top:10px}
.pt_15{padding-top:15px}
.pt_20{padding-top:20px;}
.pt_22{padding-top:22px !important;}
.pt_32{padding-top:32px;}
.pl_14{padding-left:14px;}
/* padding ends */

/* width starts */
.wd_90{width:90px !important;}
.wd_140{width:140px !important;}
.wd_243{width:243px !important;}
.wd_250{width:250px !important;}
.wd_230{width:230px !important;}
.full_width{width:100% !important;}
/* width ends */
