/*--------------------------------------------------------------

	* Filename: Tables.css
	* Description: All Layout CSS
	* Version: 1.0 (11-Oct-2012) DD-MM-YYYY
	* Website: http://
	* Author: Finoit Technologies

==== STRUCTURE:==============================================

	* Page Width: 1024px
	* Number of columns: 1

--------------------------------------------------------------*/
.schedule_table{
	}

.schedule_table th {
	height:40px;
	text-align:left;
	padding:5px 14px;	
	font-weight:normal;
	vertical-align:middle;
	border-left:1px solid #716c64;
	border-bottom:1px solid #E0E0E0;
}

.schedule_table td {
	padding:10px 14px;
	vertical-align:top;
	border-left:1px solid #716c64;
	border-bottom:1px solid #716c64;
}

.form_table{
    margin-bottom:20px;   
	}

.form_table td{
    padding:0 10px 10px 0;
	}

.schedule_table_trans td {
	padding:10px 4px;
}
table{width: 100%;}
#user-admin-account table, #blocks{border: 1px solid #B8B5AF;}
#user-admin-account table{width:100%; font-size:14px;}
#user-admin-account table td, #system-modules table td, #node-admin-content table td, #user-admin-account table th, #system-modules table th, #node-admin-content table th, #permissions td, #permissions th, table th, table td {line-height: 20px; padding: 12px 12px;}
#system-modules table, #node-admin-content table, #update-manager-update-form table, #taxonomy-overview-vocabularies table, #profile2-type-overview-form table, #permissions{width:100%; font-size:14px; border: 1px solid #B8B5AF;}

#blocks td{padding: 5px 10px;}


